<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Lioncomp</title>
    <style>
        html, body {
            height: 100%;
        }

        #map {
            height: 100%;
        }

        #topNavbar {
            margin-bottom: 0px;
        }

        #topLeftPanel {
            margin-top: 60px;
        }
    </style>

    <!-- Bootstrap core CSS and JQuery-->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <script>

        var token;
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            console.log(response.authResponse);
            console.log(response.authResponse.accessToken);
            if (response.status !== 'connected') {
                window.location = "/";
            } else {
                console.log("I am hideRealTimeCrime");
                token = response.authResponse.accessToken;
                console.log('Executed'+token);
            }
        }
        window.fbAsyncInit = function () {
            FB.init({
                appId: '1760632640869121',
                cookie: true,  // enable cookies to allow the server to access the session
                xfbml: true,  // parse social plugins on this page
                version: 'v2.8' // use graph api version 2.8
            });
            FB.getLoginStatus(function (response) {
                statusChangeCallback(response);
            });
        };
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s);
            js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>
</head>

<body>

<!-- Static navbar -->
<nav id="topNavbar" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/map">Lioncomp</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/map">Map</a></li>
                <li><a href="javascript: profilePage();" >Profile</a></li>
                <li><a href="/shuttle">Shuttle</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="emergencyButton">Emergency</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="panel panel-default" id="topLeftPanel">
    <div class="panel-heading">
        <h3 class="panel-title">Find Way Home</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal">
            <div class="form-group form-inline">
                <div class="col-xs-3">
                    <label for="origin">Origin: </label>
                </div>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="origin" placeholder="Default Your Current Position">
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="col-xs-3">
                    <label for="destination">Destination: </label>
                </div>
                <div class="col-xs-8">
                    <input type="text" class="form-control" id="destination" placeholder="Enter Desination">
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="col-xs-3">
                    <label for="departureTime">Departure Time: </label>
                </div>
                <div class="col-xs-8">
                    <input type="time" class="form-control" id="departureTime">
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="col-xs-2">
                    <label for="travelMode">Travel Mode: </label>
                </div>
                <div class="col-xs-4">
                    <select id="travelMode">
                        <option selected value="WALKING">Walking</option>
                        <option value="DRIVING">Driving</option>
                        <option value="BICYCLING">Bicycling</option>
                        <option value="TRANSIT">Transit</option> 
                    </select>
                </div>
                <div class="col-xs-2">
                    <label for="travelType">Travel Type:</label>
                </div>
                <div class="col-xs-4">
                    <select id="travelType">
                        <option value="Home">Going Home</option>
                        <option value="Eating">Eating</option>
                        <option value="Shopping">Shopping</option>
                        <option value="School">Going School</option>
                    </select>
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary" id="goButton">Go!</button>
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="col-xs-3">
                    <button type="button" class="btn btn-primary" id="showPoliceStation">Show Police Station</button>
                </div>
                <div class="col-xs-offset-3 col-xs-3">
                    <button type="button" class="btn btn-primary" id="hidePoliceStation">Hide Police Station</button>
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="col-xs-3">
                    <button type="button" class="btn btn-danger" id="showRealTimeCrime">Show Real-time Crime</button>
                </div>
                <div class="col-xs-offset-3 col-xs-3">
                    <button type="button" class="btn btn-danger" id="hideRealTimeCrime">Hide Real-time Crime</button>
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="col-xs-3">
                    <button type="button" class="btn btn-danger" id="showCrimeMap">Show Crime Map</button>
                </div>
                <div class="col-xs-offset-3 col-xs-3">
                    <button type="button" class="btn btn-danger" id="hideCrimeMap">Hide Crime Map</button>
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="col-xs-3" id="groupDescriptionLabel">
                </div>
                <div class="col-xs-8" id="groupDescriptionBox">
                </div>
            </div>
            <div class="form-group form-inline">
                <div class="col-xs-3" id="createGroupButton">
                </div>
                <div class="col-xs-offset-2 col-xs-3" id="exploreGroupButton">
                </div>
            </div>
        </form>
    </div>
</div>


<div id="map"></div>


<script>
    // Global variable for google API
    var geocoder;
    var map;
    var socket;
    var directionsService;
    var directionsDisplay;

    // Global variable for path
    var origin;
    var destination;
    var originPosition;
    var destinationPosition;
    var departureTime;
    var travelType;
    var selectedMode;
    var groupDescription;


    var currentPosition = {lat: 40.809957, lng: -73.961454};
    var policeStationMarkers = [];
    var realTimeCrimeMarkers = [];

    var crimeRectangles = [];

    // Variables used for click guidance
    var clickCounter = 0;
    var firstPlace = {lat: 0, lng: 0};
    var secondPlace = {lat: 0, lng: 0};

    //var accessToken = token;

    function initMap() {

        // Init google map
        var columbia = {lat: 40.806, lng: -73.963};
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 16,
            center: columbia
        });

        // Add listener to map
        map.addListener('click', function (event) {
            console.log("EXECUTED");

            if (clickCounter == 0) {
                firstPlace.lat = event.latLng.lat();
                firstPlace.lng = event.latLng.lng();
                clickCounter += 1;
            } else if (clickCounter == 1) {
                secondPlace.lat = event.latLng.lat();
                secondPlace.lng = event.latLng.lng();

                // Reverse geocoding
                geocoder.geocode({'location': firstPlace}, function(resultsOne, status) {
                    if (status === 'OK') {
                        geocoder.geocode({'location': secondPlace}, function(resultsTwo, status) {
                            if (status === 'OK') {
                                console.log(resultsTwo[1].formatted_address);
                                console.log(resultsOne[1].formatted_address);

                                // Set text
                                var originInputBox = document.getElementById('origin');
                                var destinationInputBox = document.getElementById('destination');
                                originInputBox.value = resultsOne[1].formatted_address;
                                destinationInputBox.value = resultsTwo[1].formatted_address;
                            }
                        });
                    }
                });

                // Reset counter to zero
                clickCounter = 0;

                // Get current time
                var date = new Date();
                departureTime = date.getHours() + ":" + date.getMinutes();

                // Route
                findRoute(firstPlace, secondPlace, "WALKING", departureTime);
            }
        });

        geocoder = new google.maps.Geocoder();
        directionsService = new google.maps.DirectionsService();
        directionsDisplay = new google.maps.DirectionsRenderer({
            map: map
        });

        // Set panel to top left
        var panel = document.getElementById('topLeftPanel');
        panel.style.display = 'block';
        map.controls[google.maps.ControlPosition.TOP_LEFT].push(panel);

        // Init socketio
        socket = io.connect(null, {port: location.port, rememberTransport: false});

        socket.on('connect', function () {
            console.log("Connected");
        });

        // Find current location
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                currentPosition = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                // Add current location
                addMarkerToMap(currentPosition, map, "My Location");
            }, function () {
                console.log("Error: The Geolocation service failed.");
            });
        } else {
            console.log("Error: Your browser doesn\'t support geolocation.");
        }

        // Test draw rectangle function
        // drawCrimeMap();
    }

    function addMarkerToMap(position, map, title) {
        var marker = new google.maps.Marker({
            position: position,
            map: map,
            title: title
        });
    }

    $('#goButton').on('click', function () {
        origin = document.getElementById("origin").value;
        destination = document.getElementById("destination").value;
        departureTime = document.getElementById("departureTime").value;
        travelType = document.getElementById("travelType").value;
        selectedMode = document.getElementById("travelMode").value;

        console.log(departureTime);

        originPosition = currentPosition;
        destinationPosition = {lat: 0, lng: 0};

        geocoder.geocode({'address': origin}, function (results1, status) {
            if (status == 'OK') {
                geocoder.geocode({'address': destination}, function (results2, status) {
                    if (status == 'OK') {
                        originPosition['lat'] = results1[0].geometry.location.lat();
                        originPosition['lng'] = results1[0].geometry.location.lng();
                        destinationPosition['lat'] = results2[0].geometry.location.lat();
                        destinationPosition['lng'] = results2[0].geometry.location.lng();
                        console.log("Not Empty");
                        console.log(originPosition);
                        console.log(destinationPosition);
                        sendUserPath(originPosition, destinationPosition, selectedMode, travelType, departureTime);
                        findRoute(originPosition, destinationPosition, selectedMode, departureTime);
                    }
                });
            } else {
                geocoder.geocode({'address': destination}, function (results2, status) {
                    if (status == 'OK') {
                        destinationPosition['lat'] = results2[0].geometry.location.lat();
                        destinationPosition['lng'] = results2[0].geometry.location.lng();
                        console.log("Empty");
                        console.log(originPosition);
                        console.log(destinationPosition);
                        sendUserPath(origin, destination, originPosition, destinationPosition, selectedMode, travelType, departureTime);
                        findRoute(originPosition, destinationPosition, selectedMode, departureTime);
                    }
                });
            }
        });

        // Update HTML
        var createGroupButtonParent = document.getElementById("createGroupButton");
        createGroupButtonParent.innerHTML = '<button type="button" class="btn btn-primary" id="createGroup">Create Group</button>';
        var exploreGroupButtonParent = document.getElementById("exploreGroupButton");
        exploreGroupButtonParent.innerHTML = '<button type="button" class="btn btn-primary" id="exploreGroup">Explore Group</button>';
        var groupDescriptionLabelParent = document.getElementById("groupDescriptionLabel");
        groupDescriptionLabelParent.innerHTML = '<label for="groupDescriptionInputBox">Group Description</label>';
        var groupDescriptionBoxParent = document.getElementById("groupDescriptionBox");
        groupDescriptionBoxParent.innerHTML = '<input type="text" class="form-control" id="groupDescriptionInputBox" placeholder="Group Description">';
    });

    $('#showPoliceStation').on('click', function () {

        var request = {
            location: currentPosition,
            radius: '1000',
            query: 'police station'
        };

        var service = new google.maps.places.PlacesService(map);
        service.textSearch(request, showPoliceStations);
    });

    $('#showCrimeMap').on('click', function() {
        drawCrimeMap();
    });

    $('#hideCrimeMap').on('click', function() {
        for (var i = 0; i < crimeRectangles.length; i++) {
            crimeRectangles[i].setMap(null);
        }
        crimeRectangles = [];
    });

    $('#hidePoliceStation').on('click', function () {
        for (var i = 0; i < policeStationMarkers.length; i++) {
            policeStationMarkers[i].setMap(null);
        }
        policeStationMarkers = [];
    });

    $('#createGroupButton').on('click', function () {
        groupDescription = document.getElementById("groupDescriptionInputBox").value;

        var createGroupPath = {
            origin: origin,
            destination: destination,
            originPosition: originPosition,
            destinationPosition: destinationPosition,
            travelMode: selectedMode,
            travelType: travelType,
            departureTime: departureTime,
            groupDescription: groupDescription,
            accessToken: token
        };
        socket.emit('createGroupPath', createGroupPath, function() {
        var url = '/explore';
        console.log(token);
        var form = $('<form action="' + url + '" method="post">' + 
            '<input type="text" name="accessToken" value="' + token + '" />' +
            '</form>');
        form.submit();
        });
    });


    $('#emergencyButton').on('click', function () {
        socket.emit('emergency', currentPosition);
    });


    $('#showRealTimeCrime').on('click', function () {
        var spotcrime = require('spotcrime');

        console.log(currentPosition.lat);
        console.log(currentPosition.lng);
    });

    function sendUserPath(origin, destination, originPosition, destinationPosition, selectedMode, travelType, departureTime) {
        var userPath = {
            origin: origin,
            destination: destination,
            originPosition: originPosition,
            destinationPosition: destinationPosition,
            travelMode: selectedMode,
            travelType: travelType,
            departureTime: departureTime,
            accessToken: token
        };
        socket.emit('userPath', userPath);
    }

    // Find route on google map given two positions
    function findRoute(originPosition, destinationPosition, selectedMode, departureTime) {
        var request = {
            destination: originPosition,
            origin: destinationPosition,
            travelMode: selectedMode
        };

        directionsService.route(request, function (response, status) {
            if (status == "OK") {
                console.log("Executed");
                directionsDisplay.setDirections(response);
            } else {
                window.alert('Directions request failed due to ' + status);
            }
        });
    }

    function showPoliceStations(results, status) {
        if (status == google.maps.places.PlacesServiceStatus.OK) {
            for (var i = 0; i < results.length; i++) {
                var place = results[i];
                var marker = new google.maps.Marker({
                    position: place.geometry.location,
                    map: map,
                    title: "Police Station"
                });
                policeStationMarkers.push(marker);
            }
        }
    }

    function drawCrimeMap() {
        var crimePrecitionsForRegion;
        crimePrecitionsForRegion = [1.9343609587148121,
            2.0351177997324648,
            2.0250421156306992,
            2.0149664315289342,
            1.974663695121873,
            1.9948150633254034,
            1.9847393792236383,
            1.974663695121873,
            1.9645880110201077,
            1.9545123269183424,
            1.9444366428165771,
            1.9343609587148121];

        // Sentinel points
        var leftUpperPoint = {lat: 40.81754, lng: -73.97725};
        var rightLowerPoint = {lat: 40.79249, lng: -73.9309};

        // Draw crime map
        var latStep = (leftUpperPoint.lat - rightLowerPoint.lat) / 3;
        var lngStep = (leftUpperPoint.lng - rightLowerPoint.lng) / 4;
        var crimeRateStep = (crimePrecitionsForRegion[0] - crimePrecitionsForRegion[11]) / 12;
        for (var i = 0; i < 4; i++) for (var j = 0; j < 3; j++) {
            // Calculate fillOpacity based on crime prediction
            var crimeRate = crimePrecitionsForRegion[(j * 4) + i];
            // Draw rectange
            var rectangle = new google.maps.Rectangle({
                strokeColor: '#F44336',
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: '#F44336',
                fillOpacity: (crimeRate - crimePrecitionsForRegion[11]) * 3,
                map: map,
                bounds: {
                    north: leftUpperPoint.lat - j * latStep,
                    south: leftUpperPoint.lat - (j + 1) * latStep,
                    east: leftUpperPoint.lng - (i + 1) * lngStep,
                    west: leftUpperPoint.lng - i * lngStep
                }
            });

            // Add to rectangles
            crimeRectangles.push(rectangle);
            console.log(crimeRectangles.length);
        }
    }

    $('#exploreGroupButton').on('click', function() {
        var url = '/explore';
        console.log(token);
        var form = $('<form action="' + url + '" method="post">' + 
            '<input type="text" name="accessToken" value="' + token + '" />' +
            '</form>');
        form.submit();
    });

    function profilePage() {
        var url = '/profile';
        console.log(token);
        var form = $('<form action="' + url + '" method="post">' + 
            '<input type="text" name="accessToken" value="' + token + '" />' +
            '</form>');
        form.submit();
    }

</script>

<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDX9Fcx_6cIfBeBXa1bhBbHNy6Lssl-8Do&libraries=places&callback=initMap">
</script>
<script src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
</body>
</html>
